{% extends "base.html" %}

{% block title %}Главная{% endblock %}

{% block sidebar %}
	<form action="{% url 'index' %}" method="get" role="form">
		<h4>Адресный поиск</h4>
		<div class="form-group">
			<input type="text" name="address" id="address" placeholder="Адрес"  class="form-control" />
		</div>
		<input type="submit" value="Найти" class="btn btn-default" />
	</form>
	{%if request %}
		<hr/>
		<div id="result">
			<h4>Результат для:</h4>
			<p>{{ request }}</p>
			<pre>{{ result }}</pre>
			<blockquote>{{ vendor }}</blockquote>
		</div>
	{% endif %}
{% endblock %}
